/* line 12, X:/Coding/projects/citadels/application/styles/scss/modules/_borders.scss */
input, button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 3, X:/Coding/projects/citadels/application/styles/scss/modules/_footer.scss */
.footer {
  background-color: sienna;
  bottom: 0;
  color: white;
  height: 72px;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 2px black;
  width: 100%; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/modules/_footer.scss */
  .footer li {
    display: inline-block;
    margin: 0 12px; }
    /* line 18, X:/Coding/projects/citadels/application/styles/scss/modules/_footer.scss */
    .footer li:before, .footer li:after {
      visibility: hidden; }
    /* line 22, X:/Coding/projects/citadels/application/styles/scss/modules/_footer.scss */
    .footer li:before {
      content: "[ "; }
    /* line 26, X:/Coding/projects/citadels/application/styles/scss/modules/_footer.scss */
    .footer li:after {
      content: " ]"; }
    /* line 31, X:/Coding/projects/citadels/application/styles/scss/modules/_footer.scss */
    .footer li:hover:before, .footer li:hover:after {
      visibility: visible; }

/* line 37, X:/Coding/projects/citadels/application/styles/scss/modules/_footer.scss */
footer {
  padding-top: 24px; }

/* line 3, X:/Coding/projects/citadels/application/styles/scss/modules/_forms.scss */
input, button {
  padding: 8px 16px; }
  /* line 8, X:/Coding/projects/citadels/application/styles/scss/modules/_forms.scss */
  input:hover, input:focus, button:hover, button:focus {
    border-color: sienna;
    box-shadow: 0 0 8px burlywood inset; }

/* line 14, X:/Coding/projects/citadels/application/styles/scss/modules/_forms.scss */
button {
  background-color: burlywood; }

/* line 3, X:/Coding/projects/citadels/application/styles/scss/modules/_header.scss */
.header {
  background-color: sienna;
  color: white;
  height: 120px;
  text-align: center;
  text-shadow: 0 0 2px black; }
  /* line 10, X:/Coding/projects/citadels/application/styles/scss/modules/_header.scss */
  .header hr {
    bottom: 0;
    position: absolute; }

/* line 16, X:/Coding/projects/citadels/application/styles/scss/modules/_header.scss */
header {
  padding-top: 24px; }

/* line 3, ../scss/index.scss */
body {
  text-align: center; }

/* line 7, ../scss/index.scss */
form {
  margin-top: -120px;
  top: 40%; }
  /* line 11, ../scss/index.scss */
  form label, form input, form button {
    display: block;
    margin: 0px auto; }
  /* line 16, ../scss/index.scss */
  form label {
    font-size: 24px;
    margin-bottom: 40px; }
  /* line 21, ../scss/index.scss */
  form input {
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
    width: 400px; }
