/* line 4, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../../mixins/_border.scss */
.box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 30, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../../mixins/_box.scss */
.box .header {
  background-color: burlywood;
  color: black;
  text-shadow: 0 0 2px white; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../../mixins/_box.scss */
  .box .header * {
    text-shadow: 0 0 2px white; }

/* line 5, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../_box.scss */
.box {
  float: left;
  margin: 40px;
  overflow: auto;
  width: 400px; }
  /* line 12, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../_box.scss */
  .box .header {
    border-bottom: 1px solid #cccccc;
    padding: 12px; }
  /* line 19, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../_box.scss */
  .box .content {
    margin: 16px; }

/* line 4, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/_create-game.scss */
.create-game button {
  float: right;
  margin: 16px 0; }

/* line 4, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../../mixins/_border.scss */
.box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 30, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../../mixins/_box.scss */
.box .header {
  background-color: burlywood;
  color: black;
  text-shadow: 0 0 2px white; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../../mixins/_box.scss */
  .box .header * {
    text-shadow: 0 0 2px white; }

/* line 5, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../_box.scss */
.box {
  float: left;
  margin: 40px;
  overflow: auto;
  width: 400px; }
  /* line 12, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../_box.scss */
  .box .header {
    border-bottom: 1px solid #cccccc;
    padding: 12px; }
  /* line 19, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../_box.scss */
  .box .content {
    margin: 16px; }

/* line 3, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/_games-in-progress.scss */
.box.games-in-progress {
  width: 280px; }
  /* line 6, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/_games-in-progress.scss */
  .box.games-in-progress button {
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 8px; }

/* line 4, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../../mixins/_border.scss */
.box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 30, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../../mixins/_box.scss */
.box .header {
  background-color: burlywood;
  color: black;
  text-shadow: 0 0 2px white; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../../mixins/_box.scss */
  .box .header * {
    text-shadow: 0 0 2px white; }

/* line 5, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../_box.scss */
.box {
  float: left;
  margin: 40px;
  overflow: auto;
  width: 400px; }
  /* line 12, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../_box.scss */
  .box .header {
    border-bottom: 1px solid #cccccc;
    padding: 12px; }
  /* line 19, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/../_box.scss */
  .box .content {
    margin: 16px; }

/* line 3, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/_games-pending.scss */
.box.games-pending {
  width: 280px; }
  /* line 6, X:/Coding/projects/citadels/application/styles/scss/partials/boxes/_games-pending.scss */
  .box.games-pending button {
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 8px; }

/* line 6, ../scss/list.scss */
.content > li {
  padding: 8px 0;
  overflow: auto; }

/* line 11, ../scss/list.scss */
.list > li {
  line-height: 24px;
  padding-left: 8px; }

/* line 16, ../scss/list.scss */
h5 {
  padding: 8px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 8px; }
