@import url(http://fonts.googleapis.com/css?family=Amarante);
/* line 4, X:/Coding/projects/citadels/application/styles/scss/mixins/_border.scss */
input, button, .box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 18, X:/Coding/projects/citadels/application/styles/scss/mixins/_box.scss */
input:hover, input:focus, button:hover, button:focus {
  border-color: sienna;
  box-shadow: 0 0 8px burlywood inset; }

/* line 26, X:/Coding/projects/citadels/application/styles/scss/mixins/_box.scss */
.site-header, .site-footer {
  background-color: sienna;
  color: white;
  text-shadow: 0 0 2px black; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/mixins/_box.scss */
  .site-header *, .site-footer * {
    text-shadow: 0 0 2px black; }

/* line 30, X:/Coding/projects/citadels/application/styles/scss/mixins/_box.scss */
.box .header {
  background-color: burlywood;
  color: black;
  text-shadow: 0 0 2px white; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/mixins/_box.scss */
  .box .header * {
    text-shadow: 0 0 2px white; }

/* line 2, X:/Coding/projects/citadels/application/styles/scss/elements/_reset.scss */
* {
  border: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative; }

/* line 4, X:/Coding/projects/citadels/application/styles/scss/elements/../mixins/_border.scss */
input, button, .box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 5, X:/Coding/projects/citadels/application/styles/scss/elements/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Amarante', cursive;
  text-shadow: 0px 0px 1px burlywood; }

/* line 11, X:/Coding/projects/citadels/application/styles/scss/elements/_base.scss */
html, body {
  height: 100%; }

/* line 4, X:/Coding/projects/citadels/application/styles/scss/elements/../mixins/_border.scss */
input, button, .box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 18, X:/Coding/projects/citadels/application/styles/scss/elements/../mixins/_box.scss */
input:hover, input:focus, button:hover, button:focus {
  border-color: sienna;
  box-shadow: 0 0 8px burlywood inset; }

/* line 26, X:/Coding/projects/citadels/application/styles/scss/elements/../mixins/_box.scss */
.site-header, .site-footer {
  background-color: sienna;
  color: white;
  text-shadow: 0 0 2px black; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/elements/../mixins/_box.scss */
  .site-header *, .site-footer * {
    text-shadow: 0 0 2px black; }

/* line 30, X:/Coding/projects/citadels/application/styles/scss/elements/../mixins/_box.scss */
.box .header {
  background-color: burlywood;
  color: black;
  text-shadow: 0 0 2px white; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/elements/../mixins/_box.scss */
  .box .header * {
    text-shadow: 0 0 2px white; }

/* line 5, X:/Coding/projects/citadels/application/styles/scss/elements/_forms.scss */
input, button {
  padding: 8px 16px; }

/* line 14, X:/Coding/projects/citadels/application/styles/scss/elements/_forms.scss */
button {
  background-color: burlywood; }

/* line 1, X:/Coding/projects/citadels/application/styles/scss/elements/_links.scss */
a {
  color: inherit; }

/* line 1, X:/Coding/projects/citadels/application/styles/scss/elements/_seperator.scss */
hr {
  box-shadow: 0 0 8px 0 black;
  width: 100%; }

/* line 3, X:/Coding/projects/citadels/application/styles/scss/partials/_content.scss */
.site-content {
  margin-bottom: 40px;
  overflow: auto; }

/* line 4, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_border.scss */
input, button, .box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 18, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
input:hover, input:focus, button:hover, button:focus {
  border-color: sienna;
  box-shadow: 0 0 8px burlywood inset; }

/* line 26, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
.site-header, .site-footer {
  background-color: sienna;
  color: white;
  text-shadow: 0 0 2px black; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
  .site-header *, .site-footer * {
    text-shadow: 0 0 2px black; }

/* line 30, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
.box .header {
  background-color: burlywood;
  color: black;
  text-shadow: 0 0 2px white; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
  .box .header * {
    text-shadow: 0 0 2px white; }

/* line 5, X:/Coding/projects/citadels/application/styles/scss/partials/_box.scss */
.box {
  float: left;
  margin: 40px;
  overflow: auto;
  width: 400px; }
  /* line 12, X:/Coding/projects/citadels/application/styles/scss/partials/_box.scss */
  .box .header {
    border-bottom: 1px solid #cccccc;
    padding: 12px; }
  /* line 19, X:/Coding/projects/citadels/application/styles/scss/partials/_box.scss */
  .box .content {
    margin: 16px; }

/* line 5, X:/Coding/projects/citadels/application/styles/scss/partials/_header.scss */
.site-header {
  height: 120px;
  text-align: center; }
  /* line 10, X:/Coding/projects/citadels/application/styles/scss/partials/_header.scss */
  .site-header header {
    padding-top: 24px; }
  /* line 14, X:/Coding/projects/citadels/application/styles/scss/partials/_header.scss */
  .site-header hr {
    bottom: 0;
    position: absolute; }

/* line 4, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_border.scss */
input, button, .box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 18, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
input:hover, input:focus, button:hover, button:focus {
  border-color: sienna;
  box-shadow: 0 0 8px burlywood inset; }

/* line 26, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
.site-header, .site-footer {
  background-color: sienna;
  color: white;
  text-shadow: 0 0 2px black; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
  .site-header *, .site-footer * {
    text-shadow: 0 0 2px black; }

/* line 30, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
.box .header {
  background-color: burlywood;
  color: black;
  text-shadow: 0 0 2px white; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
  .box .header * {
    text-shadow: 0 0 2px white; }

/* line 5, X:/Coding/projects/citadels/application/styles/scss/partials/_box.scss */
.box {
  float: left;
  margin: 40px;
  overflow: auto;
  width: 400px; }
  /* line 12, X:/Coding/projects/citadels/application/styles/scss/partials/_box.scss */
  .box .header {
    border-bottom: 1px solid #cccccc;
    padding: 12px; }
  /* line 19, X:/Coding/projects/citadels/application/styles/scss/partials/_box.scss */
  .box .content {
    margin: 16px; }

/* line 5, X:/Coding/projects/citadels/application/styles/scss/partials/_footer.scss */
.site-footer {
  bottom: 0;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 100%; }
  /* line 13, X:/Coding/projects/citadels/application/styles/scss/partials/_footer.scss */
  .site-footer footer {
    line-height: 40px; }
  /* line 17, X:/Coding/projects/citadels/application/styles/scss/partials/_footer.scss */
  .site-footer li {
    display: inline-block;
    margin: 0 12px; }
    /* line 22, X:/Coding/projects/citadels/application/styles/scss/partials/_footer.scss */
    .site-footer li:before, .site-footer li:after {
      visibility: hidden; }
    /* line 26, X:/Coding/projects/citadels/application/styles/scss/partials/_footer.scss */
    .site-footer li:before {
      content: "[ "; }
    /* line 30, X:/Coding/projects/citadels/application/styles/scss/partials/_footer.scss */
    .site-footer li:after {
      content: " ]"; }
    /* line 35, X:/Coding/projects/citadels/application/styles/scss/partials/_footer.scss */
    .site-footer li:hover:before, .site-footer li:hover:after {
      visibility: visible; }
