@import "_mixins/_#.scss";

.site-header {
    @extend %boxColorBrown;
    padding: 10px;
    text-align: center;

    header {
        overflow: hidden;
        position: relative;
    }

    hr {
        bottom: 0;
        left: 0;
        position: absolute;
    }
}
