.player
{
    overflow: auto;
    margin: 40px;
    width: 480px;

    .character,
    .calculations,
    .name {
        @extend %borderRoundedLightGray;
    }

    .name {
        padding: 8px 12px;
    }

    &.is-king .name {
        background: {
            image: url("/bundles/citadelscore/images/crown.png");
            repeat: no-repeat;
            position: right center;
            size: 80px;
        }
    }

    .statistic {
        float: left;
        margin-top: 12px;
        text-align: center;
        width: 96px;

        .character {
            @each $charColor in $mapCharColor {
                $char: nth($charColor, 1);
                $color: nth($charColor, 2);

                &.#{$char} {
                    border-color: $color;
                }
            }

            height: 100px;
            padding-top: 8px;

            &:before {
                content: "";
                height: $iconCharHeight;
                left: 28px;
                position: absolute;
                top: 44px;
                width: $iconCharWidth;
                z-index: -1;
            }

            @each $char in $listChar {
                &.#{$char}:before {
                    @include iconCharacterBg($iconCharWidth * (index($listChar, $char) - 1));
                }
            }
        }

        .calculations {
            margin-top: 12px;
            padding: 8px;

            li {
                display: inline-block;
                width: 22px;

                .label {
                    padding: 0;
                }
            }
        }
    }

    .hand-cards {
        margin: 12px 0 0 108px;
        overflow: auto;

        .card {
            float: left;
            margin-right: -84px;
            z-index: 1;

            &:hover {
                z-index: 2;
            }
        }
    }
}
