@import "_variables/_dimensions.scss";
@import "_partials/_character-choice.scss";
@import "_partials/_player-compact.scss";
@import "_partials/tabs/_actions.scss";

.site-header {
    min-height: 104px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.site-content {
    padding-top: 90px;
}

.tabs .tab-body {
    min-width: 960px;
}

#action-tabs {
    margin: 40px;
    overflow: auto;
}
