<div id="tab-end" class="tab-content">
    <div class="header">Zug beenden</div>

    <div class="description">
        <button data-href="{{ path('game.endTurn') }}"
                data-redirect="{{ path('game.results') }}"
                class="btn">
            beenden
        </button>
    </div>
</div>
