<div id="tab-hand" class="tab-content hand">
    <ul class="cards">
        {% if game.getActivePlayer() %}
            {% for handCard in game.getActivePlayer().getHandCards() %}
                {% include 'CitadelsCoreBundle:Index:field/card.html.twig' with {'card': handCard} %}
            {% endfor %}
        {% endif %}
    </ul>
</div>
