<div id="tab-play-card" class="tab-content">
    <div class="header">Gebäude bauen</div>

    <div class="description">
        Spiele eine Karte aus deiner Hand und bezahle die angegebenen Goldstücke, um die Karte in deine Auslage aufzunehmen.
    </div>
</div>
