/* line 1, ../../../scss/partials/boxes/games-in-progress.scss */
.box.games-in-progress {
  width: 280px; }
  /* line 4, ../../../scss/partials/boxes/games-in-progress.scss */
  .box.games-in-progress button {
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 8px; }
