@import "compatibility";
@import "elements/footer";

* {
    @include box-sizing(border-box);
    font-family: 'Amarante', cursive;
}

html, body {
    height: 100%;
}

.site-content {
    margin-bottom: $footerHeight;
    overflow: auto;
}

hr {
    box-shadow: 0 0 8px 0 black;
    width: 100%;
}
