@import "variables/colors";

.content > li {
    padding: 8px 0;
    overflow: auto;
}

.list > li {
    line-height: 24px;
    padding-left: 8px;
}

h5 {
    padding: 8px;
    border-bottom: 1px solid $colorLightGray;
    margin-bottom: 8px;
}
