@import "variables/colors";
@import "elements/borders";

.create-game {
    button {
        float: right;
        margin: 16px 0;
    }

}

.box.game-pending,
.box.game-in-progress {
    width: 280px;

    button {
        padding: 4px;
        position: absolute;
        right: 8px;
        top: 8px;
    }
}

.content > li {
    padding: 8px 0;
    overflow: auto;
}

.list > li {
    line-height: 24px;
    padding-left: 8px;
}

h5 {
    padding: 8px;
    border-bottom: 1px solid $colorLightGray;
    margin-bottom: 8px;
}
