@import "modules/_all.scss";
@import "_reset.scss";
@import url(http://fonts.googleapis.com/css?family=Amarante);

html, body {
    height: 100%;
}

html * {
    @include box-sizing(border-box);
    font-family: 'Amarante', cursive;
}

body {
    padding-bottom: $footerHeight;
}

a {
    color: white;
}

hr {
  box-shadow: 0 0 8px 0 black;
  width: 100%;
}
