<div id="tab-effect-remove-card" class="tab-content">
    <div class="header">Effekt: Gebäude zerstören</div>

    <div class="description">
        Nimm 1 Karte aus der Auslage eines Mitspielers,
        zahle ein Goldstücke weniger, wie abgebildet und lege die Karte auf den Ablagestapel.
    </div>
</div>
