<div id="tab-get-gold" class="tab-content">
    <div class="header">Goldeinkommen</div>

    <div class="description">
        Du bekommst 2 Goldstücke.
    </div>

    <div class="message warning">
        <a class="scroll-to show-tab" href="#tab-draw-card">Gebäude planen</a> kann nicht mehr gespielt werden.
    </div>
</div>
