input, button, .form-control:focus {
    @extend %borderRoundedLightGray;
    padding: 8px 16px;

    &:hover, &:focus {
        background-color: $colorBrown;
    }
}

.btn {
    background-color: $colorLightBrown;

    &:hover, &:focus {
        background-color: $colorBrown;
        color: white;

        .fa {
            color: white;
        }
    }
}
