input, button, .form-control:focus {
    @extend %borderRoundedLightGray;
    padding: 8px 16px;

    &:hover, &:focus {
        border-color: $colorBrown;
    }
}

button {
    background-color: $colorLightBrown;
}
