@import "../variables/_colors.scss";
@import "../mixins/_border.scss";
@import "../mixins/_box.scss";

.box {
    @extend %borderRoundedLightGray;
    float: left;
    margin: 40px;
    overflow: auto;
    width: 400px;

    .header {
        @extend %boxColorLightBrown;
        border-bottom: 1px solid $colorLightGray;
        padding: 12px;

    }

    .content {
        margin: 16px;
    }
}
