@import "../variables/colors";
@import "../variables/dimensions";

.site-footer {
    background-color: $colorBrown;
    bottom: 0;
    color: white;
    height: $footerHeight;
    position: fixed;
    text-align: center;
    width: 100%;

    a {
        color: white;
    }

    footer {
        line-height: $footerHeight;

        * {
            text-shadow: 0 0 2px black;
        }
    }

    li {
        display: inline-block;
        margin: 0 12px;

        &:before,
        &:after {
            visibility: hidden;
        }

        &:before {
            content: "[ ";
        }

        &:after {
            content: " ]";
        }

        &:hover:before,
        &:hover:after {
            visibility: visible;
        }
    }
}
