@import "../variables/colors";
@import "../variables/dimensions";

.site-header {
    background-color: $colorBrown;
    color: white;
    height: $headerHeight;
    text-align: center;

    header {
        padding-top: 24px;

        * {
            text-shadow: 0 0 2px black;
        }
    }

    hr {
        bottom: 0;
        position: absolute;
    }
}
