@import "../variables/_colors.scss";
@import "../variables/_dimensions.scss";
@import "_box.scss";

.site-header {
    @extend %boxColorBrown;
    height: $headerHeight;
    text-align: center;

    header {
        padding-top: 24px;
    }

    hr {
        bottom: 0;
        position: absolute;
    }
}
