@import "../variables/colors";
@import "../mixins/box";

.characters {
    li {
        border: 1px solid white;
        padding: 8px 12px;

        &.not-available {
            color: $colorLightGray;

            &:hover {
                @extend %box-inner-shadow-gray;
            }
        }

        &.out {
            color: $colorLightBrown;
        }

        &:hover {
            @extend %box-inner-shadow-brown;
        }
    }
}
