@import "../variables/dimensions";
@import "../variables/maps";
@import "../mixins/border";
@import "../mixins/icon";

.player
{
    overflow: auto;
    margin: 40px;
    width: 480px;

    .character,
    .calculations,
    .name {
        @extend %borderRoundedLightGray;
    }

    .name {
        padding: 8px 12px;
    }

    &.is-king .name {
        background: {
            image: url("../../../images/crown.png");
            repeat: no-repeat;
            position: right center;
            size: 80px;
        }
    }

    .statistic {
        float: left;
        margin-top: 12px;
        text-align: center;
        width: 96px;

        .character {
            height: 100px;
            padding-top: 8px;

            &:before {
                content: "";
                height: $iconCharHeight;
                left: 28px;
                position: absolute;
                top: 44px;
                width: $iconCharWidth;
                z-index: -1;
            }

            @each $char in $listChar {
                &.#{$char}:before {
                    @include iconCharacterBg($iconCharWidth * (index($listChar, $char) - 1));
                }
            }
        }

        .calculations {
            margin-top: 12px;
            padding: 8px;
        }

        .calculations .gold,
        .calculations .cards,
        .calculations .points {
            display: inline-block;
            width: 22px;
        }
    }

    .buildings {
        margin: 12px 0 0 108px;
        overflow: auto;
    }

    .card {
        float: left;
        margin-left: -84px;
        z-index: 1;

        &:hover {
            z-index: 2;
        }

        &:first-of-type {
            margin: 0;
        }
    }
}
