@import "../variables/colors";
@import "../mixins/box";
@import "../mixins/borders";

.player-compact {
    @extend %borderRoundedLightGray;
    display: inline-block;
    padding: 8px;

    .name {
        @extend %boxColorLightBrown;
    }

    .statistic {
        margin-top: 12px;
        overflow: auto;

        li {
            border-left: 1px solid $colorLightBrown;
            float: left;
            padding: 0 4px;
            width: 32px;

            &:first-of-type {
                border: 0;
            }
        }
    }
}
