@import "../mixins/borders";

.player
{
    overflow: auto;
    margin: 40px;
    width: 480px;

    .character,
    .calculations,
    .info {
        @extend %borderRoundedLightGray;
    }

    .info {
        padding: 8px 12px;
        margin-left: 92px;

        .is-king {
            float: right;
        }
    }

    .statistic {
        float: left;
        text-align: center;
    }

    .character {
        height: 152px;
        padding-top: 8px;
        width: 80px;
    }

    .calculations {
        margin-top: 12px;
        padding: 8px;
    }

    .calculations .gold,
    .calculations .cards {
        display: inline-block;
        width: 28px;
    }

    .buildings {
        margin: 12px 0 0 92px;
        overflow: auto;
    }

    .card {
        float: left;
        margin-left: -20px;

        &:hover {
            z-index: 1;
        }

        &:first-of-type {
            margin: 0;
        }
    }
}
