$footerHeight: 40px;

.site-footer {
    background-color: $brown;
    bottom: 0;
    color: white;
    height: $footerHeight;
    position: fixed;
    text-align: center;
    text-shadow: 0 0 2px black;
    width: 100%;

    footer {
        line-height: $footerHeight;
    }

    li {
        display: inline-block;
        margin: 0 12px;

        &:before,
        &:after {
            visibility: hidden;
        }

        &:before {
            content: "[ ";
        }

        &:after {
            content: " ]";
        }

        &:hover:before,
        &:hover:after {
            visibility: visible;
        }
    }
}
