@import "_colors.scss";
@import "_borders.scss";

input, button {
    @extend %border-lightgray-rounded;

    padding: 8px 16px;

    &:hover, &:focus {
        border-color: $brown;
        box-shadow: 0 0 8px $lightBrown inset;
    }
}

button {
    background-color: $lightBrown;
}
