$headerHeight: 120px;

.header {
    background-color: $brown;
    color: white;
    height: $headerHeight;
    text-align: center;
    text-shadow: 0 0 2px black;

    hr {
        bottom: 0;
        position: absolute;
    }
}

header {
    padding-top: 24px;
}
