/* line 4, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_border.scss */
.card {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 5, ../../scss/partials/card.scss */
.card {
  background-color: white;
  height: 172px;
  text-align: center;
  width: 120px; }
  /* line 12, ../../scss/partials/card.scss */
  .card .label {
    border-bottom: 1px solid #cccccc;
    margin: 0 8px;
    padding: 8px 0; }
  /* line 18, ../../scss/partials/card.scss */
  .card .effect {
    padding: 4px 0; }
  /* line 22, ../../scss/partials/card.scss */
  .card .cost {
    border-radius: 0 4px;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 24px; }
  /* line 36, ../../scss/partials/card.scss */
  .card.kng {
    border-color: gold; }
    /* line 39, ../../scss/partials/card.scss */
    .card.kng .cost {
      background-color: gold; }
  /* line 36, ../../scss/partials/card.scss */
  .card.prs {
    border-color: lightskyblue; }
    /* line 39, ../../scss/partials/card.scss */
    .card.prs .cost {
      background-color: lightskyblue; }
  /* line 36, ../../scss/partials/card.scss */
  .card.chn {
    border-color: lawngreen; }
    /* line 39, ../../scss/partials/card.scss */
    .card.chn .cost {
      background-color: lawngreen; }
  /* line 36, ../../scss/partials/card.scss */
  .card.mry {
    border-color: tomato; }
    /* line 39, ../../scss/partials/card.scss */
    .card.mry .cost {
      background-color: tomato; }
  /* line 36, ../../scss/partials/card.scss */
  .card.ntr {
    border-color: violet; }
    /* line 39, ../../scss/partials/card.scss */
    .card.ntr .cost {
      background-color: violet; }
