/* line 18, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
.characters li:hover {
  border-color: gray;
  box-shadow: 0 0 8px #cccccc inset; }

/* line 7, ../../scss/partials/character-choice.scss */
.characters {
  text-align: center;
  width: 200px; }
  /* line 11, ../../scss/partials/character-choice.scss */
  .characters li {
    border: 1px solid transparent;
    padding: 8px 12px 8px 32px; }
    /* line 15, ../../scss/partials/character-choice.scss */
    .characters li:before {
      content: "";
      height: 28px;
      left: 0;
      position: absolute;
      top: 4px;
      width: 38px;
      z-index: -1; }
    /* line 26, ../../scss/partials/character-choice.scss */
    .characters li.ass:before {
      background-image: url("../../../images/sprite_characters.png");
      background-position: -0px;
      background-repeat: no-repeat; }
    /* line 26, ../../scss/partials/character-choice.scss */
    .characters li.thf:before {
      background-image: url("../../../images/sprite_characters.png");
      background-position: -38px;
      background-repeat: no-repeat; }
    /* line 26, ../../scss/partials/character-choice.scss */
    .characters li.prs:before {
      background-image: url("../../../images/sprite_characters.png");
      background-position: -76px;
      background-repeat: no-repeat; }
    /* line 26, ../../scss/partials/character-choice.scss */
    .characters li.chn:before {
      background-image: url("../../../images/sprite_characters.png");
      background-position: -114px;
      background-repeat: no-repeat; }
    /* line 26, ../../scss/partials/character-choice.scss */
    .characters li.mgc:before {
      background-image: url("../../../images/sprite_characters.png");
      background-position: -152px;
      background-repeat: no-repeat; }
    /* line 26, ../../scss/partials/character-choice.scss */
    .characters li.bld:before {
      background-image: url("../../../images/sprite_characters.png");
      background-position: -190px;
      background-repeat: no-repeat; }
    /* line 26, ../../scss/partials/character-choice.scss */
    .characters li.mry:before {
      background-image: url("../../../images/sprite_characters.png");
      background-position: -228px;
      background-repeat: no-repeat; }
    /* line 26, ../../scss/partials/character-choice.scss */
    .characters li.kng:before {
      background-image: url("../../../images/sprite_characters.png");
      background-position: -266px;
      background-repeat: no-repeat; }
    /* line 31, ../../scss/partials/character-choice.scss */
    .characters li.not-available {
      color: #cccccc;
      text-shadow: 0 0 0; }
    /* line 36, ../../scss/partials/character-choice.scss */
    .characters li.out {
      color: burlywood; }
