/* line 1, ../../scss/partials/hand.scss */
.hand {
  margin: 40px;
  overflow: auto; }
  /* line 5, ../../scss/partials/hand.scss */
  .hand .card {
    float: left;
    margin-right: 12px; }
