/* line 4, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_border.scss */
.player .character,
.player .calculations,
.player .name {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 7, ../../scss/partials/player.scss */
.player {
  overflow: auto;
  margin: 40px;
  width: 480px; }
  /* line 18, ../../scss/partials/player.scss */
  .player .name {
    padding: 8px 12px; }
  /* line 22, ../../scss/partials/player.scss */
  .player.is-king .name {
    background-image: url("../../../images/crown.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 80px; }
  /* line 31, ../../scss/partials/player.scss */
  .player .statistic {
    float: left;
    margin-top: 12px;
    text-align: center;
    width: 96px; }
    /* line 37, ../../scss/partials/player.scss */
    .player .statistic .character {
      height: 100px;
      padding-top: 8px; }
      /* line 41, ../../scss/partials/player.scss */
      .player .statistic .character:before {
        content: "";
        height: 31px;
        left: 28px;
        position: absolute;
        top: 44px;
        width: 38px;
        z-index: -1; }
      /* line 52, ../../scss/partials/player.scss */
      .player .statistic .character.ass:before {
        background-image: url("../../../images/sprite_characters.png");
        background-position: -0px;
        background-repeat: no-repeat; }
      /* line 52, ../../scss/partials/player.scss */
      .player .statistic .character.thf:before {
        background-image: url("../../../images/sprite_characters.png");
        background-position: -38px;
        background-repeat: no-repeat; }
      /* line 52, ../../scss/partials/player.scss */
      .player .statistic .character.prs:before {
        background-image: url("../../../images/sprite_characters.png");
        background-position: -76px;
        background-repeat: no-repeat; }
      /* line 52, ../../scss/partials/player.scss */
      .player .statistic .character.chn:before {
        background-image: url("../../../images/sprite_characters.png");
        background-position: -114px;
        background-repeat: no-repeat; }
      /* line 52, ../../scss/partials/player.scss */
      .player .statistic .character.mgc:before {
        background-image: url("../../../images/sprite_characters.png");
        background-position: -152px;
        background-repeat: no-repeat; }
      /* line 52, ../../scss/partials/player.scss */
      .player .statistic .character.bld:before {
        background-image: url("../../../images/sprite_characters.png");
        background-position: -190px;
        background-repeat: no-repeat; }
      /* line 52, ../../scss/partials/player.scss */
      .player .statistic .character.mry:before {
        background-image: url("../../../images/sprite_characters.png");
        background-position: -228px;
        background-repeat: no-repeat; }
      /* line 52, ../../scss/partials/player.scss */
      .player .statistic .character.kng:before {
        background-image: url("../../../images/sprite_characters.png");
        background-position: -266px;
        background-repeat: no-repeat; }
    /* line 58, ../../scss/partials/player.scss */
    .player .statistic .calculations {
      margin-top: 12px;
      padding: 8px; }
    /* line 65, ../../scss/partials/player.scss */
    .player .statistic .calculations .gold,
    .player .statistic .calculations .cards,
    .player .statistic .calculations .points {
      display: inline-block;
      width: 22px; }
  /* line 71, ../../scss/partials/player.scss */
  .player .buildings {
    margin: 12px 0 0 108px;
    overflow: auto; }
  /* line 76, ../../scss/partials/player.scss */
  .player .card {
    float: left;
    margin-left: -84px; }
    /* line 80, ../../scss/partials/player.scss */
    .player .card:hover {
      z-index: 1; }
    /* line 84, ../../scss/partials/player.scss */
    .player .card:first-of-type {
      margin: 0; }
