/* line 4, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_borders.scss */
.player .character,
.player .calculations,
.player .info {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 4, ../../scss/partials/player.scss */
.player {
  overflow: auto;
  margin: 40px;
  width: 480px; }
  /* line 15, ../../scss/partials/player.scss */
  .player .info {
    padding: 8px 12px;
    margin-left: 92px; }
    /* line 19, ../../scss/partials/player.scss */
    .player .info .is-king {
      float: right; }
  /* line 24, ../../scss/partials/player.scss */
  .player .statistic {
    float: left;
    text-align: center; }
  /* line 29, ../../scss/partials/player.scss */
  .player .character {
    height: 152px;
    padding-top: 8px;
    width: 80px; }
  /* line 35, ../../scss/partials/player.scss */
  .player .calculations {
    margin-top: 12px;
    padding: 8px; }
  /* line 41, ../../scss/partials/player.scss */
  .player .calculations .gold,
  .player .calculations .cards {
    display: inline-block;
    width: 28px; }
  /* line 46, ../../scss/partials/player.scss */
  .player .buildings {
    margin: 12px 0 0 92px;
    overflow: auto; }
  /* line 51, ../../scss/partials/player.scss */
  .player .card {
    float: left;
    margin-left: -20px; }
    /* line 55, ../../scss/partials/player.scss */
    .player .card:hover {
      z-index: 1; }
    /* line 59, ../../scss/partials/player.scss */
    .player .card:first-of-type {
      margin: 0; }
