/* line 26, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_box.scss */
.player-compact .name {
  background-color: burlywood;
  color: black;
  text-shadow: 0 0 2px white; }

/* line 4, X:/Coding/projects/citadels/application/styles/scss/partials/../mixins/_borders.scss */
.player-compact {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc; }

/* line 5, ../../scss/partials/player-compact.scss */
.player-compact {
  display: inline-block;
  padding: 8px; }
  /* line 14, ../../scss/partials/player-compact.scss */
  .player-compact .statistic {
    margin-top: 12px;
    overflow: auto; }
    /* line 18, ../../scss/partials/player-compact.scss */
    .player-compact .statistic li {
      border-left: 1px solid burlywood;
      float: left;
      padding: 0 4px;
      width: 32px; }
      /* line 24, ../../scss/partials/player-compact.scss */
      .player-compact .statistic li:first-of-type {
        border: 0; }
