<div class="actions btn-group">
    <button class="btn action-refresh" title="Spielfeld aktualisieren">
        <i class="fa fa-refresh"></i>
    </button>

    <button class="btn action-add-gold" title="Goldeinkommen">
        <i class="fa fa-bank"></i>
    </button>

    <button class="btn action-end-turn" title="Zug beenden">
        <i class="fa fa-fast-forward"></i>
    </button>

    <button class="btn action-stall-character" title="Attentat ausführen">
        <i class="fa fa-wheelchair"></i>
    </button>

    <button class="btn action-steal-gold" title="Gold stehlen">
        <i class="fa fa-paw"></i>
    </button>

    <button class="btn action-add-extra-gold" title="Extra-Gold">
        <i class="fa fa-euro"></i>
    </button>

    <button class="btn action-build"
            title="Gebäude bauen"
            data-content="Spiele eine Karte aus deiner Hand und bezahle die angegebenen Goldstücke, um die Karte in deine Auslage aufzunehmen.">
        <i class="fa fa-building-o"></i>
    </button>
</div>
