@import "../variables/colors";

$headerHeight: 120px;

.site-header {
    background-color: $colorBrown;
    color: white;
    height: $headerHeight;
    text-align: center;
    text-shadow: 0 0 2px black;

    header {
        padding-top: 24px;
    }

    hr {
        bottom: 0;
        position: absolute;
    }
}
