<div class="box create-game">
    <h4 class="header">Land einnehmen</h4>
    <p class="content">
        Beanspruchen Sie ein neues Stück Land und behaupten Sie sich gegen Ihre Widersacher.
        <button>Grundstein legen</button>
    </p>
</div>
