<div class="modal-header">
    <h4 class="modal-title">Der Namenlose Spieler</h4>
</div>

<div class="modal-body text-center">
    <form class="form-group">
        Damit dich deine Gegenspieler erkennen,
        <label class="control-label" for="player-name">gebe bitte einen Namen ein:</label>
        <div class="input-group">
            <input class="form-control" id="player-name" name="playerName" type="text" />
            <span class="input-group-btn">
                <button class="btn btn-warning" data-dismiss="modal">speichern & starten</button>
            </span>
        </div>
    </form>

    <p>oder</p>

    <button class="btn btn-warning save-random-name-button" data-dismiss="modal">spiele mit einem Zufallsnamen</button>
</div>
