$charAssassin: assassin;
$charThief: thief;
$charBishop: bishop;
$charKing: king;
$charMagician: magician;
$charMerchant: merchant;
$charArchitect: architect;
$charWarlord: warlord;
$charNeutral: neutral;
