$colorGray: gray;
$colorLightGray: #aaaaaa;
$colorSand: sandybrown;
$colorBrown: #a0522d;
$colorMaroon: maroon;
$colorLightBrown: #deb887;
$colorKing: gold;
$colorPriest: lightskyblue;
$colorChandler: lawngreen;
$colorMercenary: tomato;
$colorNeutral: violet;
