$colorGray: gray;
$colorLightGray: #aaaaaa;
$colorSand: sandybrown;
$colorBrown: #a0522d;
$colorMaroon: maroon;
$colorLightBrown: #deb887;
$colorKing: gold;
$colorBishop: lightskyblue;
$colorMerchant: lawngreen;
$colorWarlord: tomato;
$colorNeutral: violet;
