{% set type = random(['king', 'priest', 'chandler', 'mercenary', 'neutral']) %}

<div class="card {{ type }}">
    <div class="label">label</div>
    <div class="effect">effect</div>
    <div class="cost">#</div>
</div>
