{% set char = random(['ass', 'thf', 'mgc', 'kng', 'prs', 'chn', 'bld', 'mrc']) %}

<div class="card {{ char }}">
    <div class="label">label</div>
    <div class="effect">effect</div>
    <div class="cost">#</div>
</div>
