.characters {
    text-align: center;
    width: 200px;

    li {
        border: 1px solid transparent;
        padding: 8px 12px 8px 32px;

        &:before {
            content: "";
            height: 28px;
            left: 0;
            position: absolute;
            top: 4px;
            width: $iconCharWidth;
            z-index: -1;
        }

        @each $char in $listChar {
            &.#{$char}:before {
                @include iconCharacterBg($iconCharWidth * (index($listChar, $char) - 1));
            }
        }

        &.not-available {
            color: $colorLightGray;
            text-shadow: 0 0 0;
        }

        &.out {
            color: $colorLightBrown;
        }

        &:hover {
            @extend %boxInnerShadowLightGray;
        }
    }
}
