$charAssasin: ass;
$charThief: thf;
$charPriest: prs;
$charKing: kng;
$charMagician: mgc;
$charChandler: chn;
$charBuilder: bld;
$charMercenary: mry;
$charList: $charAssasin $charThief $charPriest $charChandler $charMagician $charBuilder $charMercenary $charKing;
