$charAssasin: assassin;
$charThief: thief;
$charPriest: priest;
$charKing: king;
$charMagician: magician;
$charChandler: chandler;
$charBuilder: builder;
$charMercenary: mercenary;
$charNeutral: neutral;
