$colorGray: gray;
$colorLightGray: #ccc;
$colorBrown: #a0522d;
$colorLightBrown: #deb887;
$colorKing: gold;
$colorPriest: lightskyblue;
$colorChandler: lawngreen;
$colorMercenary: tomato;
$colorNeutral: violet;
