{% extends "CitadelsCoreBundle::layout.php.twig" %}

{% block debug %}
    {{ parent() }}
    <div id="debug">
        <p>
            Game-ID: {{ game.getId() }}
        </p>
    </div>
{% endblock %}

{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/bundles/citadelscore/css/game/board.css" />
{% endblock %}

{% block siteHeader %}
    <header>
        {% include 'CitadelsCoreBundle:Game:board/player-list-compact.html.twig' %}
    </header>
{% endblock %}

{% block siteContent %}
    {% include 'CitadelsCoreBundle:Game:board/character-list.html.twig' %}
    {% include 'CitadelsCoreBundle:Game:board/my-player.html.twig' %}
    {% include 'CitadelsCoreBundle:Game:board/action-buttons.html.twig' %}

    <div id="action-tabs" class="tabs">
        {% include 'CitadelsCoreBundle:Game:board/tabs/actions.html.twig' %}

        <div class="tab-body">
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/draw-card.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/effect-draw-cards.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/effect-exchange-cards-stack.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/effect-exchange-cards-player.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/effect-get-card-gold.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/effect-get-gold.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/effect-play-cards.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/effect-remove-card.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/effect-stall-character.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/effect-steal-gold.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/get-gold.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/hand.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/play-card.html.twig' %}
            {% include 'CitadelsCoreBundle:Game:board/tabs/actions/end.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/bundles/citadelscore/js/view-model/myPlayer.js"></script>
    <script src="/bundles/citadelscore/js/view-model/characterList.js"></script>
    <script src="/bundles/citadelscore/js/view-model/playerList.js"></script>
    <script src="/bundles/citadelscore/js/view-model/game.js"></script>
    <script src="/bundles/citadelscore/js/control/modal.js"></script>
    <script src="/bundles/citadelscore/js/game/board.js"></script>
{% endblock %}
