{% extends "CitadelsCoreBundle::layout.php.twig" %}

{% block debug %}
    {{ parent() }}
    <div id="debug">
        <p>
            Game-ID: {{ game.getId() }}
        </p>
    </div>
{% endblock %}

{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/bundles/citadelscore/css/game/results.css" />
{% endblock %}

{% block siteHeader %}
    {% include 'CitadelsCoreBundle:Game:board/app-data.html.twig' %}

    <header>
        <h2>Ergebnisse</h2>
    </header>
{% endblock %}

{% block siteContent %}
    <table id="player-list" class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Gold</th>
                <th>Punkte</th>
                <th>Gebäude</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: playerList">
            <tr>
                <td data-bind="text: $index() + 1"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: gold"></td>
                <td data-bind="text: points"></td>
                <td data-bind="text: buildings.length"></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/bundles/citadelscore/js/view-model/playerList.js"></script>
    <script src="/bundles/citadelscore/js/game/results.js"></script>
{% endblock %}