<hr />
<footer>
    <ul>
        <li><a href="http://www.brettspielwelt.de/Hilfe/Anleitungen/OhneFurchtUndAdel/" target="_blank">How To</a></li>
        <li><a href="http://de.wikipedia.org/wiki/Ohne_Furcht_und_Adel" target="_blank">Wikipedia</a></li>
        <li>Version: dev-20140209</li>
        <li><a href="{{ path('_index') }}">Start</a></li>
        <li><a href="{{ path('_list') }}">List</a></li>
        <li><a href="{{ path('_field') }}">Field</a></li>
    </ul>
</footer>
