<div class="box characters">
    <h5 class="header">Wähle deine Gesinnung</h5>
    <ul class="content character-list">
        {% for character in characterList %}
            <li class="{{ character.type }}">{{ character.name }}</li>
        {% endfor %}
    </ul>
</div>
