<div id="character-list" class="box characters">
    <h5 class="header">agierender Character</h5>
    <ul class="content character-list" data-bind="foreach: characterList">
        <li data-bind="css: type, text: name"></li>
    </ul>
</div>
