<div class="my-player" data-bind="css: { 'is-king': myPlayer.isKing }">
    <div class="name" data-bind="text: myPlayer.name"></div>

    <div class="statistic">
        <div class="character" data-bind="css: myPlayer.character.type, text: myPlayer.character.name"></div>

        <ul class="calculations">
            <li class="points">
                <div class="label">pts</div>
                <div data-bind="text: myPlayer.points"></div>
            </li>
            <li class="buildings">
                <div class="label">bdg</div>
                <div data-bind="text: myPlayer.buildings.length"></div>
            </li>
            <li class="gold">
                <div class="label">gld</div>
                <div data-bind="text: myPlayer.gold"></div>
            </li>
        </ul>
    </div>

    <ul class="hand-cards" data-bind="text: myPlayer.handCards.length">
    </ul>
</div>
